<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QPass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <QPass.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Calibri, 12pt</value>
            </setting>
            <setting name="Resolution" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>640 x 480</string>
                        <string>854 x 480</string>
                        <string>1024 x 576</string>
                        <string>1280 x 720</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>656</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>519</value>
            </setting>
        </QPass.Properties.Settings>
    </userSettings>
</configuration>